<div>
  <form ng-submit="qform.submit()">
    <div class="row">
      <div class="large-12 columns">
        <label>Title
          <input type="text" placeholder="title" ng-model="qform.question.title" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Description
          <textarea placeholder="details.." ng-model="qform.question.description"></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Category
          <select ng-options="category as category.name for category in qform.categories track by category.id" ng-model="qform.question.category"></select>
        </label>
      </div>
    </div>
    <div class="row">
      <input type="submit" id="submit" value="Submit" />
    </div>
  </form>
</div>
