<div class="page" class="row">
    <aside class="col-sm-3" id="toc">
        <span><h3>Questions</h3><a ui-sref="saveQuestion" ng-click="main.saveQuestion({})">add</a></span>
        <div ng-repeat="(category,questions) in main.questionsByCategories">
            <h4>{{category}}</h4>
            <nav ng-repeat="question in questions">
                <!--<span><a ng-href="" ng-click="main.setCurrentQ($index)">{{question.title}}</a></span>-->
                <span><a ui-sref="home.question({questionId:question.id})">{{question.title}}</a></span>
            </nav>
        </div>

    </aside>
    <main class="col-sm-9">
        <uib-tabset type="pills">
            <uib-tab heading="{{language.nameAndVersion}}" ng-repeat="language in main.languages" select="main.selectLanguage(language.nameAndVersion)"/>
        </uib-tabset>
        <question content="main.questionContainer.currentQ"></question>
        <section id="answers">
            <span><h3>Answers</h3><a ui-sref="saveAnswer({questionId:main.questionContainer.currentQ.id})">add</a></span>
            <answer ng-repeat="answer in main.getAnswers() | filter: answer.language.nameAndVersion=main.selectedLanguage" content="answer" question-id="main.questionContainer.currentQ.id"></answer>
        </section>
    </main>
</div>
