<div>
  <form ng-submit="ansform.submit()">
    <div class="row">
      <div class="large-12 columns">
        <label>Description
          <textarea placeholder="answer.." ng-model="ansform.answer.content"></textarea>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Question
          {{ansform.answer.question.id}}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Language
          <select ng-options="language as language.nameAndVersion for language in ansform.languages track by language.id" ng-model="ansform.answer.language"></select>
        </label>
      </div>
    </div>

    <div class="row">
      <input type="submit" id="submit" value="Submit" />
    </div>
  </form>
</div>
