<form class="container-padding" ng-submit="qform.submit()">
    <div class="form-group">
        <label for="qform-title">Title</label>
        <input class="form-control" type="text" id="qform-title" placeholder="title"
               ng-model="qform.question.title"/>
    </div>
    <div class="form-group">

            <!--<text-angular  ng-model="qform.question.description" > </text-angular>-->
        <texteditor  content="qform.question.description"></texteditor>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control"
                ng-options="category as category.name for category in qform.categories track by category.id"
                ng-model="qform.question.category"></select>
    </div>
    <div class="form-group">
        <input type="submit" id="submit" value="Submit"/>
    </div>
</form>
